<%= form_with(model: [pokemon, Pokeball.new], url: pokemon_pokeballs_path(pokemon), local: true) do |form| %>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :trainer_id %>
    <%= form.collection_select :trainer_id, Trainer.all, :id, :name %>
  </div>

  <div>
    <%= form.label :caught_at %>
    <%= form.date_select :caught_at %>
  </div>

  <div>
    <%= form.submit 'Catch Pokemon' %>
  </div>
<% end %>
